{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="icon" href="{% static 'images/AdIn-Logo.ico' %}">
        <title>AdIn LogIn</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <div class="container position-absolute top-50 start-50 translate-middle" style="width: 400px;">
                {% for field in form %}
                <div class="d-grid my-2">
                    <div class="container">
                        <label class="form-label">
                            {{ field.label }}
                        </label>
                        <div>
                            {{ field }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if msg %}
                    <div class="d-grid p-2" style="height: 50px;">
                        <div class="text-center bg-danger" style="color: white;">
                            {{ msg }}
                        </div>
                    </div>
                {% endif %}
                <div class="d-grid p-2">
                    <input class="btn btn-primary" st type="submit" value="Entrar">
                </div>
            </div>
        </form>
    </body>
</html>