{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'custom_css/base.css' %}">
    <link rel="icon" href="{% static 'images/AdIn-Logo.ico' %}">
    <title>{% block PageTitle %}{% endblock PageTitle %}</title>
</head>
<body>
    {% block body %}
    <nav class="navbar navbar-expand-md fixed-top bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home:user_home' %}">
                <img src="{% static 'images/AdIn-Logo.ico' %}" alt="AdIn" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCuentasDropdown" aria-controls="navbarCuentasDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCuentasDropdown">
                <a class="nav-link text-light" href="{% url 'people:people_list' %}">Personas</a>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <label class="nav-link dropdown-toggle text-white" id="referencesDropDownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Referencias</label>
                        <ul class="dropdown-menu dropdown-menu-secodary" aria-labelledby="referencesDropDownLink">
                            <li>
                                <a class="dropdown-item" href="{% url 'references:address_list' %}"><strong>Direcciones</strong></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'references:phone_list' %}"><strong>Teléfonos</strong></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'references:e_mail_list' %}"><strong>Correos Electrónicos</strong></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'references:puc_list' %}"><strong>PUC</strong></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>    
        </div>
    </nav>
    <div class="container-fluid">
        <div class="col col-md-10 w-100" role="main">
            {% if info_msg %}
                <div class="alert alert-info text-center">
                    {{ info_msg }}
                </div>
            {% endif %}       
            {% block main %}{% endblock main %}
        </div>
    </div>
    {% endblock body %}
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>