{% extends "base.html" %}
{% load adin_tags %}
{% block PageTitle %}{{ title }} - {% app_name %}{% endblock PageTitle %}
{% block main %}
    <div id="content"></div>
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <span>{{ title }} - {{ subtitle }}</span> 
                    <div>
                        <a href="{% url ref_urls.list %}" style="text-decoration:none">
                            {% render_bi 'arrow-left-square' width="20px" height="20px" %}
                        </a> |
                        {% if not 'create' in actions_off %}
                            <a class="text-success" href="{% url ref_urls.create %}" style="text-decoration:none">{% render_bi 'plus-circle' width="20px" height="20px" %}</a>
                        {% endif %}
                        {% if not 'update' in actions_off %}
                            <a href="{% url ref_urls.update form.instance.pk %}" style="text-decoration:none">{% render_bi 'pencil' width="20px" height="20px" %}</a> 
                        {% endif %}
                        </a> 
                   </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-info text-center">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for field in form %}
                        {% if field.name in m2m_data %}
                            {% for attr, data in m2m_data.items %}
                                {% if field.name == attr %}
                                    <div class="d-grid mx-2 gap2">
                                        <div class="p-2 fs-5 w-100 text-center">
                                            {{ field.label_tag }}
                                            {{ field }}
                                            {% if field.errors %}
                                                <div class="p-2 fs-5 text-center text-danger">
                                                    {{ field.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                                            <table id="datatable" class="table table-hover table-striped" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        {% for m2m_field in data.formset.form %}
                                                            {% if not m2m_field.name in data.omit_field %}
                                                                <th>{{ m2m_field.label }}</th>    
                                                            {% endif %}                          
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for m2m_form in data.formset %}
                                                        <tr>
                                                            {% for m2m_field in m2m_form.visible_fields %}
                                                                {% if not m2m_field.name in data.omit_field %}
                                                                    {% if m2m_field.name in choice_fields %}
                                                                        <td>{% selected_choice m2m_form m2m_field.name m2m_field.value %}</td>
                                                                    {% else %}
                                                                        <td>{{ m2m_field.value }}</td>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}     
                                                        </tr>
                                                    {% endfor %}                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="d-grid mx-2 gap2">
                                <div class="p-2 fs-5 w-100 text-center">
                                    {{ field.label_tag }}
                                </div>
                                <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                                    {% if field.name in choice_fields %}
                                        <td><strong>{% selected_choice form field.name field.value %}</strong></td>
                                    {% else %}
                                        <td><strong>{{ field.value }}</strong></td>
                                    {% endif %}
                                    <input id="id_{{ field.name }}" type="{{ field.widget_type }}" name="{{ field.name }}" value="{{ field.value }}" required hidden>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="d-grid m-2 gap-2">
                        <input class="btn btn-danger" type="submit" value="{{ subtitle }}">
                        <a href="{% url ref_urls.list %}" class="btn btn-secondary active" role="button" aria-pressed="true">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
