{% extends "base.html" %}
{% load adin_tags %}
{% block PageTitle %}{{ title }} - {% app_name %}{% endblock PageTitle %}
{% block main %}
    <div id="content"></div>
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <span>{{ title }} - {{ subtitle }}</span> 
                    <div>
                        <a href="{% url ref_urls.list %}" style="text-decoration:none">{% render_bi 'arrow-left-square' width="20px" height="20px" %}</a>
                        {% if 'create' in actions_on %}
                            <a class="text-success" href="{% url ref_urls.create %}" style="text-decoration:none">{% render_bi 'plus-circle' width="20px" height="20px" %}</a>
                        {% endif %} |
                        {% if 'update' in actions_on %}
                            {% if form.state.value == 2 or form.state.value == 1 %}
                                <a href="{% url ref_urls.update form.instance.pk %}" style="text-decoration:none">{% render_bi 'file-earmark-x' width="20px" height="20px" %}</a>
                            {% endif %}
                            {% if form.state.value == 3 %}
                                <a href="{% url ref_urls.update form.instance.pk %}" style="text-decoration:none">{% render_bi 'pencil' width="20px" height="20px" %}</a> 
                            {% endif %}
                        {% endif %}
                        {% if 'check' in actions_on %}
                            <a class="text-warning" href="{% url ref_urls.detail form.instance.pk %}" style="text-decoration:none">{% render_bi 'file-earmark-medical' width="20px" height="20px" %}</a>
                        {% endif %}
                        {% if 'accounting' in actions_on or 'report' in actions_on %}
                            | 
                        {% endif %}
                        {% if 'accounting' in actions_on %}
                            <a class="text-success" href="{% url ref_urls.accounting form.instance.pk %}" style="text-decoration:none">{% render_bi 'file-earmark-spreadsheet' width="20px" height="20px" %}</a>
                        {% endif %}
                        {% if 'report' in actions_on %}
                            <a class="text-success" href="{% url ref_urls.report form.instance.pk %}" style="text-decoration:none">{% render_bi 'list' width="20px" height="20px" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-info text-center">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for field in form %}
                        <div class="d-grid mx-2 gap2">
                            {% if field.name != 'state' %}
                                <div class="p-2 fs-5 w-100 text-center">
                                    {{ field.label_tag }}
                                </div>
                                <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                                    {% if field.name in choice_fields %}
                                        <td><strong>{% selected_choice form field.name field.value %}</strong></td>
                                    {% elif field.name in fk_fields %}
                                        <td><strong>{% fk_str form field.name %}</strong></td>
                                    {% else %}
                                        <td><strong>{{ field.value }}</strong></td>
                                    {% endif %}
                                    {% if field.value != None %}
                                        <input id="id_{{ field.name }}" type="{{ field.widget_type }}" name="{{ field.name }}" value="{{ field.value }}" hidden>
                                    {% else %}
                                        <input id="id_{{ field.name }}" type="{{ field.widget_type }}" name="{{ field.name }}" value="" hidden>
                                    {% endif %}
                                </div>
                            {% else %}
                                <input id="id_{{ field.name }}" type="{{ field.widget_type }}" name="{{ field.name }}" value="{{ field.value }}" hidden>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% for attr, data in related_data.items %}
                        <div class="d-grid mx-2 gap2">
                            <div class="p-2 fs-5 w-100 text-center">
                                {{ attr }}
                            </div>
                            <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                                <table id="datatable" class="table table-hover table-striped" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            {% for related_field in data.formset.form %}
                                                {% if not related_field.name in data.omit_field %}
                                                    <th>{{ related_field.label }}</th>    
                                                {% endif %}                          
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for related_form in data.formset %}
                                            <tr>
                                                {% for related_field in related_form.visible_fields %}
                                                    {% if related_field.name in choice_fields %}
                                                        <td>{% selected_choice related_form related_field.name related_field.value %}</td>
                                                    {% elif related_field.name in fk_fields %}
                                                        <td>{% fk_str related_form related_field.name %}</td>
                                                    {% else %}
                                                        <td>{{ related_field.value }}</td>
                                                    {% endif %}
                                                {% endfor %}     
                                            </tr>
                                        {% endfor %}                  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                <div class="d-grid m-2 gap-2">
                        <input class="btn btn-danger" type="submit" value="{{ subtitle }}">
                        <a href="{% url ref_urls.list %}" class="btn btn-secondary active" role="button" aria-pressed="true">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
