{% extends "base.html" %}
{% load static %}
{% load adin_tags %}
{% block PageTitle %}{{ title }} - {% app_name %}{% endblock PageTitle %}
{% block main %}
    <div id="content">
        {% if formset.initial_form_count == 0 %}
            <div class="alert alert-info">No hay {{ title.lower }} en la base de datos</div>
        {% endif %}
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <span>{{ title }}</span> 
                    <div>
                        {% if not 'create' in actions_off %}
                            <a class="text-success" href="{% url ref_urls.create %}" style="text-decoration:none">{% render_bi 'plus-circle' width="20px" height="20px" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="datatable" class="table table-hover table-striped" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            {% for field in formset.form %}
                                {% if field.name != 'state' %}
                                    <th>{{ field.label }}</th> 
                                {% endif %}                             
                            {% endfor %}
                            <th>Acciones</th>                              
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                            <tr>
                                {% for field in form.visible_fields %}
                                    {% if field.name in choice_fields %}
                                        <td>{% selected_choice form field.name field.value %}</td>
                                    {% elif field.name in fk_fields %}
                                        <td>{% fk_str form field.name %}</td>
                                    {% elif field.name != 'state' %}
                                        <td>{{ field.value }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td class="table-actions">
                                    {% if not 'detail' in actions_off %}
                                        <a class="text-secondary" href="{% url ref_urls.detail form.instance.pk %}" style="text-decoration:none">{% render_bi 'eye' width="20px" height="20px" %}</a>
                                    {% endif %}
                                    {% if not 'update' in actions_off and form.state.value != 0 %}
                                        <a href="{% url ref_urls.update form.instance.pk %}" style="text-decoration:none">{% render_bi 'pencil' width="20px" height="20px" %}</a> 
                                    {% endif %}
                                    {% if not 'delete' in actions_off and form.state.value != 0 %}
                                        <a class="text-danger" href="{% url ref_urls.delete form.instance.pk %}" style="text-decoration:none">{% render_bi 'trash' width="20px" height="20px" %}</a>
                                    {% endif %}
                                    {% if form.state.value == 0 and group == 'admin' %}
                                        <a class="text-success" href="{% url ref_urls.activate form.instance.pk %}" style="text-decoration:none">{% render_bi 'recycle' width="20px" height="20px" %}</a>
                                    {% endif %}
                                    {% if form.state.value == 1 and group == 'accounting_aux' %}
                                        <a class="text-warning" href="{% url ref_urls.detail form.instance.pk %}" style="text-decoration:none">{% render_bi 'file-earmark-x' width="20px" height="20px" %}</a>
                                    {% endif %}
                                    {% if form.state.value == 2 and group == 'admin' %}
                                        <a class="text-warning" href="{% url ref_urls.detail form.instance.pk %}" style="text-decoration:none">{% render_bi 'file-earmark-medical' width="20px" height="20px" %}</a>
                                    {% endif %}
                                </td>                                    
                            </tr>
                        {% endfor %}                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock main %}
