{% extends "base.html" %}
{% load adin_tags %}
{% block PageTitle %}{{ title }} - {% app_name %}{% endblock PageTitle %}
{% block main %}
    <div id="content"></div>
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <span>{{ title }} - {{ subtitle }}</span> 
                    <div>
                        <a href="{% url ref_urls.list %}" style="text-decoration:none">
                            {% render_bi 'arrow-left-square' width="20px" height="20px" %}
                        </a>
                   </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if not info_msg %}
                        <div class="d-grid m-2 gap-2">
                            <input class="btn btn-primary" type="submit" value="{{ subtitle }}">
                            <a href="{% url ref_urls.list %}" class="btn btn-secondary active" role="button" aria-pressed="true">Cancelar</a>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
