{% extends "base.html" %}
{% load static %}
{% load adin_tags %}
{% block PageTitle %}{{ title }} - {% app_name %}{% endblock PageTitle %}
{% block main %}
    <div id="content">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <span>{{ title }} - {{ subtitle }}</span> 
                    <div>
                        <a href="{% url 'accountables:lease_realty_main' %}" style="text-decoration:none">
                            {% render_bi 'arrow-left-square' width="20px" height="20px" %}
                        </a> 
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="d-grid mx-2 gap2">
                        <div class="p-1 fs-2 w-100 text-center">
                            Registros Pendientes: 
                        </div>
                        <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                            <table id="datatable" class="table table-hover table-striped" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        {% for field in formset.form %}
                                            {% if not field.name in hidden_fields %}
                                                <th>{{ field.label }}</th> 
                                            {% endif %}                          
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ formset.management_form }}
                                    {% if formset.non_form_errors %}
                                        <tr>
                                            <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                                                <div class="p-2 fs-5 text-center text-danger">
                                                    {{ formset.non_form_errors }}
                                                </div>
                                            </div>
                                        </tr>
                                    {% endif %}
                                    {% for form in formset %}
                                        {% if form.non_field_errors %}
                                            <tr>
                                                <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                                                    <div class="p-2 fs-5 text-center text-danger">
                                                        {{ form.non_field_errors }}
                                                    </div>
                                                </div>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            {% for field in form %}
                                                {% if field.name not in hidden_fields %}
                                                    <td>
                                                        {{ field.value }}
                                                        {% if field.errors %}
                                                            <div class="p-2 fs-5 text-center text-danger">
                                                                {{ field.errors }}
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                                <input id="id_form-{{ forloop.parentloop.counter0 }}-{{ field.name }}" type="{{ field.widget_type }}" name="form-{{ forloop.parentloop.counter0 }}-{{ field.name }}" value="{{ field.value }}" hidden>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-grid m-2 gap-2">
                        <input class="btn btn-primary" type="submit" value="{{ subtitle }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
