{% load static %}
{% load adin_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'custom_css/base.css' %}">
    <link rel="icon" href="{% static 'images/AdIn-Logo.ico' %}">
    <title>{{ title }} - {% app_name %}</title>
</head>
<body>
    {% block body %}
        <nav class="navbar navbar-expand-md fixed-top bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home:user_home' %}">
                    <img src="{% static 'images/AdIn-Logo.ico' %}" alt="AdIn" height="30">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCuentasDropdown" aria-controls="navbarCuentasDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="col col-md-10 w-100" role="main">
                <div id="content"></div>
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <span>{{ title }} - {{ subtitle }}</span> 
                                <div>
                                    <a href="{% url ref_urls.list %}" style="text-decoration:none">
                                        {% render_bi 'arrow-left-square' width="20px" height="20px" %}
                                    </a> 
                            </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    {% if field.name in m2m_data %}
                                        {% for attr, data in m2m_data.items %}
                                            {% if field.name == attr %}
                                                <div class="d-grid mx-2 gap2">
                                                    <div class="p-2 fs-5 w-100 text-center">
                                                        {{ field.label_tag }}
                                                        {% if field.errors %}
                                                            <div class="p-2 fs-5 text-center text-danger">
                                                                {{ field.errors }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                                                        <table id="datatable" class="table table-hover table-striped" width="100%" cellspacing="0">
                                                            <thead>
                                                                <tr>
                                                                    {% for m2m_field in data.formset.form %}
                                                                        <th>{{ m2m_field.label }}</th>                              
                                                                    {% endfor %}
                                                                    <th>
                                                                        <a class="text-success" href="{% url data.create_url form.instance.pk %}" style="text-decoration:none">{% render_bi 'plus-circle' width="20px" height="20px" %}</a>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for m2m_form in data.formset %}
                                                                    <tr>
                                                                        {% for m2m_field in m2m_form.visible_fields %}
                                                                            {% if m2m_field.name in choice_fields %}
                                                                                <td>{% selected_choice m2m_form m2m_field.name m2m_field.value %}</td>
                                                                            {% else %}
                                                                                <td>{{ m2m_field.value }}</td>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        <td>
                                                                            <a class="text-danger" href="{% url data.delete_url m2m_form.instance.pk %}" style="text-decoration:none">{% render_bi 'trash' width="20px" height="20px" %}</a>
                                                                        </td>     
                                                                    </tr>
                                                                {% endfor %}                  
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="d-flex mx-2">
                                            <div class="d-grid w-100">
                                                <div class="p-2 fs-5 text-center">
                                                    {{ field.label_tag }}
                                                </div>
                                                {% if field.errors %}
                                                    <div class="p-2 fs-5 text-center text-danger">
                                                        {{ field.errors }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                                                {% if field.field.widget.attrs.readonly %}
                                                    {% if field.name in choice_fields %}
                                                        <td>{% selected_choice form field.name field.value %}</td>
                                                    {% else %}
                                                        <strong>{{ field.value }}</strong>
                                                    {% endif %}
                                                    <input id="id_{{ field.name }}" type="{{ field.widget_type }}" name="{{ field.name }}" value="{{ field.value }}" required hidden>
                                                {% else %}
                                                    {{ field }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% if form.non_field_errors %}
                                    <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                                        <div class="p-2 fs-5 text-center text-danger">
                                            {{ form.non_field_errors }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="d-grid m-2 gap-2">
                                    <input class="btn btn-primary" type="submit" value="{{ subtitle }}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock body %}
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>