{% extends "base.html" %}
{% load adin_tags %}
{% block PageTitle %}{{ title }} - {% app_name %}{% endblock PageTitle %}
{% block main %}
    <div id="content">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <span>{{ title }} - {{ subtitle }}</span> 
                    <div>
                        <a href="{% url ref_urls.update ref_pk %}" style="text-decoration:none">
                            {% render_bi 'arrow-left-square' width="20px" height="20px" %}
                        </a> |
                        <a class="text-success" href="{% url rel_urls.create ref_pk %}" style="text-decoration:none">{% render_bi 'plus-circle' width="20px" height="20px" %}</a>
                        <a class="text-danger" href="{% url rel_urls.delete ref_pk form.instance.pk %}" style="text-decoration:none">
                            {% render_bi 'trash' width="20px" height="20px" %}
                        </a>
                   </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if not field.field.widget.attrs.readonly %}
                            <div class="d-flex mx-2">
                                <div class="d-grid w-100">
                                    <div class="p-2 fs-5 text-center">
                                        {{ field.label_tag }}
                                    </div>
                                    {% if field.errors and errors %}
                                        <div class="p-2 fs-5 text-center text-danger">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                                    {{ field }}
                                </div>
                            </div>
                        {% else %}
                            <div class="d-flex mx-2">
                                <div class="d-grid w-100">
                                    <div class="p-2 fs-5 text-center">
                                        {{ field.label_tag }}
                                    </div>
                                </div>
                                <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                                    {% if field.name in fk_fields %}
                                        <td><strong>{% fk_str form field.name %}</strong></td>
                                    {% else %}
                                        <td><strong>{{ field.value }}</strong></td>
                                    {% endif %}
                                </div>
                                <input id="id_{{ field.name }}" type="{{ field.widget_type }}" name="{{ field.name }}" value="{{ field.value }}" required hidden>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <div class="border rounded fs-5 bg-light text-center w-100 p-2">
                            <div class="p-2 fs-5 text-center text-danger">
                                {{ form.non_field_errors }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="d-grid m-2 gap-2">
                        <input class="btn btn-primary" type="submit" value="{{ subtitle }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}