{% load static %}
{% load adin_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'custom_css/base.css' %}">
    <link rel="icon" href="{% static 'images/AdIn-Logo.ico' %}">
    <title>{{ title }} - {% app_name %}</title>
</head>
<body>
    {% block body %}
        <nav class="navbar navbar-expand-md fixed-top bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home:user_home' %}">
                    <img src="{% static 'images/AdIn-Logo.ico' %}" alt="AdIn" height="30">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCuentasDropdown" aria-controls="navbarCuentasDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
            <div class="container-fluid">
                <div class="col col-md-10 w-100" role="main">
                    <div id="content"></div>
                        {% if formset.initial_form_count == 0 %}
                            <div class="alert alert-info">No hay {{ title.lower }} en la base de datos</div>
                        {% endif %}
                    <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span>{{ title }}</span> 
                            <div>
                                <a class="text-success" href="{% url ref_urls.create %}" style="text-decoration:none">{% render_bi 'plus-circle' width="20px" height="20px" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-hover table-striped" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    {% for field in formset.form %}
                                        <th>{{ field.label }}</th>                              
                                    {% endfor %}
                                    <th>Acciones</th>                              
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in formset %}
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            {% if field.name in choice_fields %}
                                                <td>{% selected_choice form field.name field.value %}</td>
                                            {% else %}
                                                <td>{{ field.value }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td class="table-actions">
                                            <a class="text-secondary" href="{% url ref_urls.detail form.instance.pk %}" style="text-decoration:none">{% render_bi 'eye' width="20px" height="20px" %}</a>
                                            <a href="{% url ref_urls.update form.instance.pk %}" style="text-decoration:none">{% render_bi 'pencil' width="20px" height="20px" %}</a> 
                                            <a class="text-danger" href="{% url ref_urls.delete form.instance.pk %}" style="text-decoration:none">{% render_bi 'trash' width="20px" height="20px" %}</a>
                                        </td>                                    
                                    </tr>
                                {% endfor %}                  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock body %}
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>