{% extends "base.html" %}
{% load static %}
{% load adin_tags %}
{% block PageTitle %}{{ title }} - {% app_name %}{% endblock PageTitle %}
{% block main %}
    <div id="content">
        <div class="d-grid pb-4">
            <a class="btn btn-warning" href="{% url ref_urls.list %}" role="button">Lista Completa</a>
        </div>
        {% for attr, formset in formsets.items %}
            {% if formset|length > 0 %}
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span>{{ attr }}</span> 
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-hover table-striped" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    {% for field in formset.form %}
                                        {% if field.name != 'state' %}
                                            <th>{{ field.label }}</th> 
                                        {% endif %}                             
                                    {% endfor %}
                                    {% if actions_on|length > 0 %}
                                        {% if 'create' in actions_on and actions_on|length > 1 %}
                                            <th>Acciones</th>                    
                                        {% endif %}          
                                    {% endif %}          
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in formset %}
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            {% if field.name in choice_fields %}
                                                <td>{% selected_choice form field.name field.value %}</td>
                                            {% elif field.name in fk_fields %}
                                                <td>{% fk_str form field.name %}</td>
                                            {% elif field.name != 'state' %}
                                                <td>{{ field.value }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td class="table-actions">
                                            {% if form.state.value == 2 or form.state.value == 1 %}
                                                <a href="{% url ref_urls.update form.instance.pk %}" style="text-decoration:none">{% render_bi 'file-earmark-x' width="20px" height="20px" %}</a>
                                            {% endif %}
                                            {% if 'check' in actions_on %}
                                                <a class="text-warning" href="{% url ref_urls.detail form.instance.pk %}" style="text-decoration:none">{% render_bi 'file-earmark-medical' width="20px" height="20px" %}</a>
                                            {% endif %}
                                        </td>                                    
                                    </tr>
                                {% endfor %}                  
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock main %}
